<header>
  <a href="/" class="logo">Pam-Pam.ir</a>

  <ul class="navlist">
    <li><a href="/">خانه</a></li>
    <li><a href="http://localhost:3000/#featured">دسته بندی</a></li>

    <li class="logout-mobile"><a href="/api/auth/logout">خروج از اکانت</a></li>

    <div class="search-container" style="position: relative;">
      <form class="container" method="POST" action="/api/product/getProducts/<%= ( typeof category === 'undefined' || category === "" || category === "all") ? "all" : category  %>">
        <input type="text" name="search" placeholder="جستجو در <%= ( typeof category === 'undefined' || category === "" || category === "all") ? "تمام محصولات" : `${category} ها` %>">
        <div class="search"></div>
      </form>
    </div>
  </ul>
  <div class="header-icons">


    <div class="bx bx-menu" id="menu-icon"></div>
    <% if(user){ %>
    <a class="desktop" href="/api/product/getCart" style="position: relative;">
      <i class="bx bx-shopping-bag"></i>
      <p id="itemInCart" style="position: absolute;
      width: 20px;
      text-align: center;
      height: 25px;
      top: -12px;
      right: 8px;
      font-weight: 900;
      color: red;
      font-size: 13px;
      border: 1px solid red;
      background-color: #bc000054;
      border-radius: 50%;"><%= (user) ? user.cart.length : "0" %></p>
    </a>
    <div class="dropdown">
      <input class="dropdown-toggle" type="text">
      <div class="dropdown-text">
        مدیریت اکانت
      </div>
      <ul class="dropdown-content">
        <li><a href="/api/product/getCart">سبد خرید</a></li>
        <li><a href="/api/user/getOrders">خرید های قدیم</a></li>
        <li><a href="/api/auth/logout">خروج از اکانت</a></li>
      </ul>
    </div>
    <% }else{ %>

    <a href="/api/auth/signin"><i class='bx bxs-user'></i></a>

    <% } %>
  </div>
</header>