<header>

  <a href="/admin/products">محصولات</a>
  <a href="/admin/orders">سفارشات</a>
  <a href="/admin/products/comments">کامنت ها</a>
  <a href="">کاربران</a>
  <a href="/admin/uploads">فایل ها</a>
  <a href="/admin/upload">آپلود</a>

</header>