<header>

  <a href="/admin/products">محصولات</a>
  <a href="/admin/orders">سفارشات</a>
  <a href="/admin/products/comments">کامنت ها</a>
  <a href="">کاربران</a>
  <div class="dropdown">
    <button class="dropbtn">فایل ها</button>
    <div class="dropdown-content">
      <a href="/admin/uploads/images">عکس ها</a>
      <a href="/admin/uploads/videos">فیلم ها</a>
      <a href="/admin/uploads/voices">صدا ها</a>
    </div>
  </div>
  <a href="/admin/upload">آپلود</a>

</header>