@font-face {
  font-family: Yekan;
  src: url("../fonts/Yekan.ttf") format("true type");
  src: url("../fonts/Yekan.eot");
  src: url("../fonts/Yekan.eot?#iefix") format("Yekan-opentype");
  src: url("../fonts/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg-color: #0d0f10;
  /* --bg-color: #343a40; */
  --text-color: #fff;
  --main-color: #6ec22f;
  --big-font: 4.5rem;
  --h2-font: 3.3rem;
  --h3-font: 2rem;
  --normal-font: 1.2rem;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 300px; */
  height: 100px;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  /* background: var(--main-color); */
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.container input {
  font-family: "Yekan", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: var(--main-color);
  /* color: white; */
  text-shadow: 0 0 10px black;
  /* padding: 0 20px 0 80px; */
  border-radius: 30px;
  box-shadow: 0 0 25px 0 var(--main-color), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  /* width: 300px; */
  width: 230px;

  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  /* right: -250px; */
  right: 170px;
  /* right: 250px; */
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: black;
  opacity: 0.5;
  font-weight: bolder;
}

/* single product */

.container-sp {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row-sp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

/* .btn {
  display: inline-block;
  background: #ff523b;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
} */

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  /* margin-bottom: 50px; */
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fas {
  color: #ff523b;
}

.rating .far {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* Offer */

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
}

/* testimonial */

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 14px;
  margin: 12px 0;
  color: #777777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  width: 100%;
  cursor: pointer;
  filter: grayscale(0);
}

/* footer */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* media query for menu */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* all products page */

.row-2 {
  justify-content: space-between;
  margin: 50px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #ff523b;
  color: #ffffff;
}

/* single product details */

.single-product {
  margin-top: 7rem;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  color: black;
  width: 66px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid green;
  text-align: center;
}

input:focus {
  outline: none;
}

.single-product .fas {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* cart items */

.cart-page {
  margin: 90px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: right;
  padding: 5px;
  color: #ffffff;
  background: #ff523b;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
/* account page */
.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
  background: #ffffff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -300px;
}

#RegForm {
  left: 0;
}

form a {
  font-size: 12px;
}

#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/* media query for less than 600 screen size */

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}

.text-in-border {
  margin-top: 3rem;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  margin-bottom: 3rem;
}

.text-in-border h2 {
  margin-top: -30px;
}
.text-in-border h2 span {
  background: var(--bg-color);
  padding: 0 15px;
  display: inline-block;
}

.like-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-container div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.like-container p {
  font-weight: 700;
}

.comment-section-container {
  padding: 20px 25px;
}

.comment-input-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 0.5rem;
}

.comment-input-container input {
  background-color: #1e370c;
  padding: 0.5rem;
  width: 100%;
  border: none;
  color: white;
  border-radius: 1rem;
  margin: 0 !important;
}

.comment-input-container input::placeholder {
  color: rgb(177, 177, 177);
}

.comment-text-container label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.comment-text-container textarea {
  color: white;
  background-color: #1e370c;
  resize: vertical;
  border-radius: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: 0;
}

.comment-text-container textarea::placeholder {
  color: rgb(177, 177, 177);
}

.comment-text-container textarea:focus {
  box-shadow: 0 0 0 0.5rem 0.5rem var(--main-color);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.cm .cm-cm span {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.cm .cm-cm {
  border: 1px solid var(--main-color);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.cm-reply {
  width: 70%;
  display: block;
  border: 1px solid var(--main-color);
  border-top: none;
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
}

.cm-reply p:first-child {
  border-bottom: 1px solid;
}

/* dropdown */

.dropdown {
  direction: ltr;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 132px;
}

.dropdown-text {
  cursor: pointer;
  position: absolute;
  text-indent: 10px;
  line-height: 32px;
  background-color: black;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  width: 100%;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: var(--main-color) transparent transparent transparent;
}

.dropdown-text,
.dropdown-content a {
  color: var(--main-color);
  /* text-shadow: 0 1px #fff; */
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  text-indent: 10px;
  line-height: 32px;
  background-color: black;
  /* border: 1px solid var(--main-color); */
  width: 140px;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: var(--main-color);
  color: black;
}

.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: black;
}

.dropdown-toggle:focus ~ .dropdown-text {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset,
    0 1px 0 rgba(255, 255, 255, 0.8); */
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent var(--main-color) transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 42px;
}

.header-icons {
  display: flex;
  gap: 1rem;
}

/* cart page */
.cart-page {
  margin: 150px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem !important;
}

.cart-page th {
  text-align: right;
  padding: 5px;
  color: black;
  background-color: var(--main-color);
}
.cart-page td {
  padding: 10px 5px;
}

.cart-page td a {
  font-size: 2rem;
}
.cart-page td a:hover i {
  color: red;
}

.cart-page td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart-page div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* order Form */

.order-form {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.order-form form input {
  background-color: black;
  border: 1px solid var(--main-color);
  border-radius: 1rem;
}

.order-form span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.orders-parent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 900px) {
  .navlist a {
    padding: 10px !important;
  }
  .orders-parent-container {
    grid-template-columns: 1fr !important;
  }
  .orders-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .orders-container {
    width: 95%;
  }
}

@media (max-width: 1100px) {
  .orders-container div ul li {
    display: flex;
    flex-direction: column;
  }
}

.tab-nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.842);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  /* box-shadow: 0 3px 6px rgba(255, 0, 0, 0.16), 0 3px 6px rgb(255, 0, 0); */
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-top: 2px solid var(--main-color);
}

.tab {
  border: 2px solid var(--main-color);
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0 10px;
  transition: background 0.4s linear;
  height: 50px;
  min-width: 50px;
}

.tab i {
  font-size: 1.7em;
}

.tab p {
  font-weight: bold;
  overflow: hidden;
  max-width: 0;
}

.tab.active p {
  margin-left: 10px;
  max-width: 200px;
  transition: max-width 0.4s linear;
}

.tab.active {
  background-color: var(--main-color);
  color: rgba(91, 55, 183, 1);
}

@media (max-width: 450px) {
  .tab-nav-container {
    padding: 20px;
  }

  .tab {
    padding: 0 10px;
    margin: 0;
    height: 50px;
    min-width: 50px;
  }

  .tab i {
    font-size: 1.4em;
  }
}

/* 


*/

/* .search-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
.search-icon .fa {
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.search-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  /* cursor: url("close.png"), auto; */
}
.search-overlay.activeS {
  visibility: visible;
  opacity: 0.8;
  z-index: 10;
}

.search-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
.search-popup.activeS {
  visibility: visible;
  opacity: 1;
  z-index: 11;
}
.search-popup .form-group {
  position: relative;
}
.search-popup .form-control {
  width: 100%;
  height: 60px;
  border: none;
  padding: 0 100px 0 30px;
  font-size: 18px;
  border-radius: 30px;
  color: #555555;
}
.search-popup .submit-btn {
  background-color: var(--main-color);
  font-size: 18px;
  width: 70px;
  height: 60px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 0 30px 30px 0;
}
.search-popup .submit-btn:focus {
  outline: none;
}
.search-popup .form-control:focus {
  outline: none;
}

/*responsive*/
@media (max-width: 650px) {
  .search-popup {
    width: 100%;
  }
}
