@font-face {
  font-family: Yekan;
  src: url("../fonts/Yekan.ttf") format("true type");
  src: url("../fonts/Yekan.eot");
  src: url("../fonts/Yekan.eot?#iefix") format("Yekan-opentype");
  src: url("../fonts/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Yekan", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: white;
}
:root {
  --bg-color: #0d0f10;
  /* --bg-color: #343a40; */
  --text-color: #fff;
  --main-color: #6ec22f;
  --big-font: 4.5rem;
  --h2-font: 3.3rem;
  --h3-font: 2rem;
  --normal-font: 1.2rem;
}

body {
  direction: rtl;
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 20px 14%;
  transition: all 0.35s ease;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.pagination .active {
  color: #0d0f10;
  background-color: var(--main-color);
  font-weight: 700;
}
.pagination a {
  text-align: center;
  width: 40px;
  padding: 5px 5px;
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  height: 40px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--text-color);
}
.navlist {
  display: flex;
  gap: 10px;
}

.navlist a {
  color: var(--text-color);
  font-weight: 600;
  padding: 10px 25px;
  font-size: var(--normal-font);
  transition: all 0.36s ease;
}
.navlist a:hover {
  color: var(--main-color);
}
.header-icons i {
  font-size: 32px;
  color: var(--main-color);
  margin-right: 20px;
  transition: all 0.36s ease;
}
.header-icons i:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 34px;
  color: var(--text-color);
  z-index: 10001;
  margin-right: 20px;
  display: none;
}

section {
  padding: 100px 14%;
}
.home {
  min-height: 100vh;
  width: 100%;
  background: url("/images/background.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.home-text h1 {
  font-size: var(--big-font);
  font-weight: 800;
  line-height: 1.2;

  margin-bottom: 1.4rem;
}
.home-text span {
  font-size: var(--h2-font);
}
.home-text p {
  font-size: var(--normal-font);
  font-weight: 500;
  margin-bottom: 3rem;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-text img {
  width: 400px;
}
.btn {
  display: inline-block;
  padding: 13px 25px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 15px;

  font-weight: 600;
  border-radius: 5px;
  transition: all 0.35s ease;
}
.btn:hover {
  transform: translateY(-5px);
  background: var(--main-color);
}

header.sticky {
  background: black;
  padding: 14px 14%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.center-text {
  text-align: center;
}
.center-text h2 {
  font-size: var(--h3-font);
}
.featured-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 1.3rem;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}
.row {
  position: relative;
  transition: all 0.35s ease;
}
.row img {
  object-fit: cover;
  /* width: 380px; */
  width: 100%;
  height: 270px;
}
.fea-text {
  background-color: rgba(62, 60, 64, 0.8);
  border: 3px solid var(--main-color);
  border-radius: 20px;
  padding: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 50px;
}
.fea-text h5 {
  font-size: 19px;
}
.fea-text p {
  color: #555;
  font-size: 19px;
  font-weight: 400;
}
.row .arrow {
  position: absolute;
  bottom: 40px;
  right: 50px;
}
.row .arrow i {
  height: 35px;
  width: 35px;
  background: var(--bg-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
}
.row:hover {
  transform: scale(0.9) translateY(-5px);
  cursor: pointer;
}
.row:hover i {
  background: var(--main-color);
  color: var(--bg-color);
}

.cta {
  height: 60vh;
  width: 100%;
  background: url("/images/banner1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.cta-text h6 {
  font-size: 17px;
  font-weight: 500;

  margin-bottom: 14px;
}
.cta-text h4 {
  font-size: 3.3rem;
  line-height: 1.2;
  margin-bottom: 30px;
}

.new-content {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
  gap: 1.3rem;
  align-items: center;
  margin-top: 4rem;
  text-align: center;
}
.new #see-more {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: block;
  color: var(--bg-color);
  background-color: var(--main-color);
  border-radius: 20px;
}
.new #see-more:hover {
  background-color: #61aa28;
}
.box {
  background-color: #171a1d;
  border: 2px solid var(--main-color);
  position: relative;
  transition: all 0.4s ease;
  border-radius: 12px;
}
.box a {
  display: block;
  color: black;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 0 0 8px 8px;
}
.box img {
  width: 100%;
  height: auto;
  /* margin-bottom: 20px; */
  border-radius: 10px 10px 0 0;
}
.box h5 {
  font-size: 16px;
  font-weight: 600;
  /* margin-bottom: 10px; */
}
.box h6 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}
.sale {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 30px;
  background: var(--main-color);
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0;
}
.box:hover {
  transform: scale(0.9) translateY(-5px);
  cursor: pointer;
}

.brand {
  padding: 50px 14%;
}
.brand-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.main img {
  width: 100%;
  height: auto;
  opacity: 0.6;
  transition: all 0.35s ease;
  cursor: pointer;
}
.main img:hover {
  opacity: 1;
}

.contact {
  background: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
}
.selected {
  color: var(--main-color) !important;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#sorting a {
  color: white;
}
.main-contact h3 {
  font-size: 23px;
  margin-bottom: 1.6rem;
  color: white;
}
.main-contact h5 {
  font-size: 15px;
  font-weight: 600;
  color: #555;
}
.icons {
  display: flex;
  margin-top: 2rem;
}
.icons i {
  font-size: 25px;
  margin-right: 1rem;
  color: #555;
  transition: all 0.35s ease;
}
.icons i:hover {
  color: var(--main-color);
  transform: scale(1.1) translateY(-5px);
}
.main-contact li {
  margin-bottom: 15px;
}
.main-contact li a {
  display: block;
  color: #8f8f8f;
  font-size: var(--normal-font);
  font-weight: 600;
  transition: all 0.35s ease;
}
.main-contact li a:hover {
  transform: translateX(-8px);
  color: var(--main-color);
}

.last-text {
  text-align: center;
  padding: 20px;
  background: black;
}
.last-text p {
  color: #8f8f8f;
  font-size: 14px;
}

.last-text p a {
  padding: 5px;
  color: var(--main-color);
  font-size: 14px;
}
.last-text p a:hover {
  border-radius: 20px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.top i {
  font-size: 22px;
  color: var(--bg-color);
  padding: 14px;
  background: var(--main-color);
  border-radius: 2rem;
}

@media (max-width: 1200px) {
  header {
    padding: 7px 4%;
    transition: 0.2s;
  }
  header.sticky {
    padding: 14px 4%;
    transition: 0.2s;
  }
  section {
    padding: 80px 4%;
    transition: 0.1s;
  }
}

@media (min-width: 670px) {
  .tab-nav-container {
    display: none !important;
  }
}

.logout-mobile {
  display: none;
}

@media (max-width: 670px) {
  .logout-mobile {
    display: block !important;
  }
  .sign-input span {
    flex-direction: column;
    align-items: start !important;
    justify-content: right !important;
  }
  .home-text img {
    width: 100% !important;
  }
  .search-container {
    display: none !important;
  }
  .home-text {
    flex-direction: column-reverse;
  }
  #menu-icon {
    display: block;
    cursor: pointer;
  }
  .desktop {
    display: none !important;
  }

  .header-icons {
    display: inline-flex;
  }
  .dropdown {
    display: none !important;
  }
  .navlist {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 280px;
    height: 120vh;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 30px;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    margin: 1.2rem 0;
  }
  .navlist.open {
    left: 0;
  }
}

.sign-input {
  max-width: 800px;
  margin: 10rem auto;
  border: 3px solid var(--main-color);
  border-radius: 2rem;
}

.sign-input h3 {
  text-align: center;
  border-bottom: 3px solid var(--main-color);
  border-radius: 1rem;
}

.sign-input div {
  padding: 2rem;
}

.sign-input p a {
  color: var(--main-color);
}

.sign-input form input {
  border: 1px solid var(--main-color) !important;
  border-radius: 2rem;
  background-color: var(--bg-color);
}

.sign-input::placeholder {
  color: var(--main-color);
}

.sign-input span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
