<%- include('./includes/head') -%> <%- include('./includes/header') -%>



<div class="small-container order-form ">
  <form action="/api/user/orderForm" method="post">
    <span>
      <input type="text" placeholder="نام و نام خانوادگی" name="name" required>
      <input type="number" placeholder="شماره تلفن" name="phoneNumber" required>
    </span>
    <span>
      <input type="text" name="province" placeholder="استان">
      <input type="text" name="city" placeholder="شهر">
    </span>
    <input type="text" name="address" placeholder="آدرس">
    <input type="number" name="postCode" placeholder="کد پستی">
    <input type="text" name="note" placeholder="اگر پیغام خاصی دارید میتونید اینجا بنویسید!">
    <button type="submit" class="btn">ورود به درگاه پرداخت</button>
  </form>
</div>



<%- include('./includes/footer') -%>