<%- include('./includes/head') -%> <%- include('./includes/header') -%>



<div class="small-container">

<div class="sign-input">
<h3>ثبت نام</h3>

<div>



<form action="/api/auth/signup" method="POST">

  <input type="text" name="email" placeholder="ایمیل خود را وارد کنید">
  <input type="text" name="password" placeholder="پسورد خود را وارد کنید">
  <button type="submit" class="btn">ثبت</button>
  
</form>


<p>اکانت دارید؟<a href="/api/auth/signin">وارد شوید!</a></p>
</div>

</div>

</div>



<%- include('./includes/footer') -%>
